[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt SM RLB
Exec=/usr/bin/urxvt -fn 7x13 -geometry 80x42+1925-37
Icon=/home/dbuehler/sys/pixmaps/green_R_LB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtSM
