[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt MD LB
Exec=/usr/bin/urxvt -fn 8x13 -geometry 80x42+5-37
Icon=/home/dbuehler/sys/pixmaps/white_LB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtMD
