[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt SM MT
Exec=/usr/bin/urxvt -fn 7x13 -geometry 80x42+670+5
Icon=/home/dbuehler/sys/pixmaps/green_MT.xpm
Terminal=false
StartupNotify=false
Categories=RxvtSM
