[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt SM M
Exec=/usr/bin/urxvt -fn 7x13 -geometry 80x87+670+5
Icon=/home/dbuehler/sys/pixmaps/green_M.xpm
Terminal=false
StartupNotify=false
Categories=RxvtSM
