[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt SM MB
Exec=/usr/bin/urxvt -fn 7x13 -geometry 80x42+670-37
Icon=/home/dbuehler/sys/pixmaps/green_MB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtSM
