[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt SM L
Exec=/usr/bin/urxvt -fn 7x13 -geometry 80x87+5+5
Icon=/home/dbuehler/sys/pixmaps/green_L.xpm
Terminal=false
StartupNotify=false
Categories=RxvtSM
