[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt SM RB
Exec=/usr/bin/urxvt -fn 7x13 -geometry 80x42-69-37
Icon=/home/dbuehler/sys/pixmaps/green_RB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtSM
