[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt LG LRB
Exec=/usr/bin/urxvt -fn 9x15 -geometry 80x37-1925-37
Icon=/home/dbuehler/sys/pixmaps/blue_L_RB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtLG
