[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt MD RT
Exec=/usr/bin/urxvt -fn 8x13 -geometry 80x42-69+5
Icon=/home/dbuehler/sys/pixmaps/white_RT.xpm
Terminal=false
StartupNotify=false
Categories=RxvtMD
