[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt MD MB
Exec=/usr/bin/urxvt -fn 8x13 -geometry 80x42+670-37
Icon=/home/dbuehler/sys/pixmaps/white_MB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtMD
