[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt MD L
Exec=/usr/bin/urxvt -fn 8x13 -geometry 80x87+5+5
Icon=/home/dbuehler/sys/pixmaps/white_L.xpm
Terminal=false
StartupNotify=false
Categories=RxvtMD
