[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt MD LRB
Exec=/usr/bin/urxvt -fn 8x13 -geometry 80x42-1925-37
Icon=/home/dbuehler/sys/pixmaps/white_L_RB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtMD
