[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt LG MB
Exec=/usr/bin/urxvt -fn 9x15 -geometry 80x37+670-37
Icon=/home/dbuehler/sys/pixmaps/blue_MB.xpm
Terminal=false
StartupNotify=false
Categories=RxvtLG
