[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt MD RL
Exec=/usr/bin/urxvt -fn 8x13 -geometry 80x87+1925+5
Icon=/home/dbuehler/sys/pixmaps/white_R_L.xpm
Terminal=false
StartupNotify=false
Categories=RxvtMD
