[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt SM RL
Exec=/usr/bin/urxvt -fn 7x13 -geometry 80x87+1925+5
Icon=/home/dbuehler/sys/pixmaps/green_R_L.xpm
Terminal=false
StartupNotify=false
Categories=RxvtSM
