[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rxvt LG L
Exec=/usr/bin/urxvt -fn 9x15 -geometry 80x75+5+5
Icon=/home/dbuehler/sys/pixmaps/blue_L.xpm
Terminal=false
StartupNotify=false
Categories=RxvtLG
